.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  max-width: 50%;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 1rem;
  gap: 1rem;  
}

.card {
  border: black 1px solid;
  background-color: white;
  padding: 0.5rem;
  overflow-wrap: break-word;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font-size: 0.8rem;
  color: gray;
}

.hide {
  display: none;
}